@model MVC_DotNet.Models.Model_Basket
@{
    ViewBag.Title = "Home Page????";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Model_Product product in Model.Basket)
        {
            <tr>
                <td>@product._name_</td>
                <td>@product._price_</td>
                <td>@product._quantity_</td>
                <td>@product._type_</td>
            </tr>

        }
    </tbody>
</table>
