@model List<MVC_DotNet_v2.Models.DbModels.DbModel_Products>

<h1>Basket</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < (Model as List<MVC_DotNet_v2.Models.DbModels.DbModel_Products>).Count; i++)
        {
            Html.RenderPartial("Product", Model[i]);
        }
    </tbody>
</table>












